$space-dir: (t: top, r: right, b: bottom, l: left);
$spaces: (m: margin, p: padding);
$hor-vert:
  "x" "left" "right",
  "y" "top" "bottom";

@mixin margin-padding($space-key, $space-value, $selector) {
  #{$selector}ua-#{$space-key} {
    @for $i from 1 through 300 {
      #{$space-value}: #{$i}px;

      @each $dir-key, $dir-value in $space-dir {
        &#{$dir-key}-#{$i} {
          #{$space-value}-#{$dir-value}: #{$i}px;
        }
      }

      @each $dir-key, $first, $last in $hor-vert {
        &#{$dir-key}-#{$i} {
          #{$space-value}-#{$first}: #{$i}px;
          #{$space-value}-#{$last}: #{$i}px;
        }
      }
    }
  }
}

@include breakpoints using ($selector) {
  @each $space-key, $space-value in $spaces {
    @include margin-padding($space-key, $space-value, $selector);
  }
}